@font-face {
    font-family: idroid;
    src: url(Font/idroid.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: idroid;
}

a{
    all: unset;
    cursor: pointer;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 100vh;

    background-color: #84e1ad;

    overflow-x: hidden;
    overflow-y: auto;

    padding-bottom: 5%;
}

header{
    background-image: linear-gradient(to bottom, #3cda83, #185734);

    margin-top: 0;
    margin-bottom: auto;
    padding: 2%;

    color: white !important;

    display: flex;
    flex-direction: column;
}

header h1{
    font-size: 3vw;
    margin-bottom: 2%;
    margin-top: 1%;
    text-align: center;
}
header h6{
    font-size: 1.5vw;
    width: 60%;
    margin: 2% auto;
    margin-bottom: 2%;
    text-align: center;
    font-weight: 100;
}
header menu{
    display: flex;
    font-size: 1.4vw;
    margin: 0;
    margin-top: 2%;
    width: 40%;
    justify-content: space-between;
}

main {
    background-color: #fff;
    width: 80%;

    padding: 2% 3%;
    margin-left: auto;
    margin-right: auto;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

main h1{
    font-size: 3vw;
    color: #185734;
}

main h2{
    color: #185734;
    font-size: 2.8vw;

    background-image: linear-gradient(to right, rgba(0, 255, 0, 0.15), white);
    padding: 0 2%;
}

main p{
    font-size: 1.5vw;
    margin-bottom: 2%;
    margin-top: 2%;
    line-height: 1.4;
    text-align: justify;
    text-indent: 5%;
}

img, iframe{
    width: 100%;
    height: fit-content;
}

.extra{
    background-color:#b1ffd3cb;
    overflow: hidden;
    border-radius: 10px;
}
.extra h3{
    font-size: 2vw;
    color: white;
    margin-bottom: 2%;
    background-color:#26be6b;
    width: 120%;
    padding: 2% 3%;
}

.extra p{
    margin-left: 2%;
    margin-right: 2%;
}

.list{
    display: flex;
    font-size: 1.5vw;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    margin-left: 2%;
}
li{
    list-style-type: none;
}

form{
    background-color: #fff;

    width: 80%;
    padding: 2% 3%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: auto;
    
    display: flex;
    flex-direction: column;
}

form input[type="text"], form input[type="email"], form textarea{
    width: 100%;
    padding: 1%;
    margin-bottom: 2%;
}

form input[type="submit"]{
    background-color: #26be6b;
    color: white;
    padding: 1% 2%;
    cursor: pointer;

    border: none;
    outline: none;
    
    margin-left: auto;
    margin-right: auto;
}
