@import url(animations.css);

body{
    margin: 0;
    padding: 0;

    display: flex;

    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    background-image: linear-gradient(to top, black, rgb(65, 0, 65) , rgb(104, 43, 84));

    color: white;

    overflow: hidden;

    padding: 2%;
}

a{
    color: pink;
}

.playPause{
    position: absolute;

    top: 87.5%;
    left: 92.5%;

    text-align: center;
    font-size: 3vw;

    width: 5vw;
    height: 5vw;

    border: none;
    border-radius: 100vw;

    display: flex;
    justify-content: center;
    align-self: center;

} .playPause:active{
    filter: brightness(1.5);
} .playPause:hover{
    cursor: pointer;
}

#play{
    margin: auto;

    display: none;
}

#pause{
    margin: auto;

    display: flex;
}

.container{
    margin-top: -2%;

    font-size: 1.5vw;

    background-color: rgba(0, 0, 0, 0.053);
}

li{
    margin-top: 1%;
    margin-bottom: 1%;
}

img{
    position: absolute;
    width: 20vw;
}

.control{
    left: 77%;
    top: 30%;

    rotate: -25deg;

    animation: downUp 1s linear infinite;
}

.fleximg{
    display: flex;

    left: -5%;
    top: 0;

    width: 30vw;

    animation: upDown 1s linear infinite;
}

.download{
    position: absolute;
    left: 0;
}
